.searchResult {
    position: fixed;
    top: 0;
    left: 0;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    z-index: 100;
}

.gymList {
    overflow-y: scroll;
    letter-spacing: -1px;
}

.searchResultCard {
    cursor: pointer;
}