.leftPage {
    position: fixed;
    top: 70px;
    left: 16px;
    width: 360px;
    max-height: calc(100% - 192px);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px;
    z-index: 100;
    border-radius: 10px;
}

.zymInfo {
    letter-spacing: -1px;
}

.zymInfo img {
    width: 24px;
    height: 24px;
}

.zymName {
    margin-bottom: 8px;
    font-size: 20px;
    color: rgb(44, 55, 68);
    font-weight: bold;
}

.zymAddress {
    margin-bottom: 16px;
    font-size: 14px;
    color: rgb(160, 160, 160);
}

.zymMachineInfo {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 18px;
    color: rgb(44, 55, 68);
    font-weight: bold;
}