.leftPage {
    position: fixed;
    top: 70px;
    left: 16px;
    width: 360px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px;
    z-index: 100;
    border-radius: 10px;
}

.gymList {
    padding: 10px;
    overflow-y: scroll;
    max-height: 500px;
    letter-spacing: -1px;
}

.searchResultCard {
    cursor: pointer;
}